<div class="about" *ngFor="let detail of details">
  <div *ngIf="!isProgress">
    <div class="container">
      <h2 class="title">{{detail?.about?.title}}</h2>
      <p [innerHTML]="detail?.about?.text"></p>
    </div>
    <div class="container">
      <ul>
        <li *ngFor="let person of detail?.team">
          <div>
            <img [src]="person.image" [alt]="person.title" (error)="noImage($event)">
          </div>
          <div>
            <h3>{{person.title}}</h3>
            <p [innerHTML]="person.text"></p>
          </div>
        </li>
      </ul>
    </div>
    <div class="container">
      <h2 class="title">{{detail?.choose?.title}}</h2>

      <p [innerHTML]="detail?.choose?.text"></p>
    </div>
  </div>
  <mat-spinner *ngIf="isProgress"></mat-spinner>
</div>