@import "../../sass/mixins";
@import "../../sass/varialbes";

.contacts {

  padding: 12rem 0;
  @include tablet {

    padding: 7rem 0;
  }
  & > h3 {

    text-align: center;
    font-weight: normal;
    margin-top: -2rem;
    margin-bottom: 2rem;
    @include tablet {

      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.3em;
    }
  }
  & > div {

    padding: 0 1rem;
    font-size: 1.5em;
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap;
    @include tablet {

      font-size: 1.2em;
    }
    & > p {

      flex: 1 1 calc(50% - 4rem);
      padding: 0 1rem;
    }
  }
}