<div class="contacts container">
  <h2 class="title">Kontakte</h2>
  <h3>Kastell Projekt GmbH</h3>
  <div>
    <p>
      Rossbergstrasse 22
      <br>
      72336 Balingen
      <br>
      Deutschland
      <br>
      Telefon: <a href="tel:+4915209200503">+49 152 09200503</a>
      <br>
      Telefax: <a href="tel:+49743393473">+49 7433 934 73</a>
      <br>
      E-Mail: <a href="mailto:info@kastell-projekt.de">info@kastell-projekt.de</a>
      <br>
      Web: <a href="https://kastell-projekt.de">http://kastell-projekt.de</a>
    </p>
  </div>
</div>