<div class="contacts container">
  <h2 class="title">Kontakte</h2>
  <h3>Kastell Projekt GmbH</h3>
  <div>
    <p>
      Rossberstrasse 22
      <br>
      72336 Balingen
      <br>
      Deutschland
      <br>
      Telefon
      <br>
      Zentrale: <a href="tel:+49743393475">+49 7433 934 75</a>
      <br>
      Vertrieb: <a href="tel:+491727412140">+49 172 741 2140</a>
      <br>
      Telefax: <a href="tel:+49743393473">+49 7433 934 73</a>
    </p>
    <p>
      E-Mail: <a href="mailto:info@kastell-projekt.de">info@kastell-projekt.de</a>
      <br>
      Web: <a href="https://kastell-projekt.de">http://kastell-projekt.de</a>
      <br>
      Vertretungsberechtigter Gesellschafter: Jakob Seel
      <br>
      Registergericht: Stuttgart
      <br>
      Registernummer: HRB 763108
      <br>
      Umsatzsteuer-Identifikations Nr.: DE 316607385
    </p>
  </div>
</div>