<div class="contacts container">
  <h2 class="title">Kontakte</h2>
  <div>
    <p>
      Kastell Projekt GmbH
      <br>
      <br>
      Rossberstrasse 22
      <br>
      72336 Balingen
      <br>
      Deutschland
      <br>
      Telefon
      <br>
      Zentrale: <a href="tel:+49743393475">07433 934 75</a>
      <br>
      Vertrieb: <a href="tel:+491727412140">0172 741 2140</a>
      <br>
      Telefax: <a href="tel:+49743393473">07433 934 73</a>
      <br>
      <br>
      E-Mail: <a href="mailto:info@kastell-projekt.de">info@kastell-projekt.de</a>
      Web: <a href="https://kastell-projekt.de">http://kastell-projekt.de</a>
      Vertretungsberechtigter Gesellschafter: Jakob Seel
      Registergericht: Stuttgart
      Registernummer: HRB 763108
      Umsatzsteuer-Identifikations Nr.: DE 316607385
    </p>
  </div>
</div>