
@font-face {
    font-family: 'AvenirNext-UltraLight';
    src: url('AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('AvenirNext-UltraLight.woff') format('woff'),
    url('AvenirNext-UltraLight.ttf')  format('truetype'),
    url('AvenirNext-UltraLight.svg#AvenirNext-UltraLight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AvenirNextCyr-Thin';
    src: url('AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('AvenirNextCyr-Thin.woff') format('woff'),
    url('AvenirNextCyr-Thin.ttf')  format('truetype'),
    url('AvenirNextCyr-Thin.svg#AvenirNextCyr-Thin') format('svg');
    font-weight: normal;
    font-style: normal;
}

