<div class="home">
  <div class="slider" *ngIf="!isProgress">
    <ngx-carousel
      [inputs]="carouselOne"
    >
      <ngx-item NgxCarouselItem *ngFor="let slide of slides">
        <div class="slider__title">
          <h1>{{slide.title}}</h1>
        </div>
        <div class="slider__image" [ngStyle]="{'background': 'url('+ slide.src+ ') no-repeat center'}"></div>
      </ngx-item>
      <button NgxCarouselPrev class='leftRs'><i class="fas fa-angle-double-left"></i></button>
      <button NgxCarouselNext class='rightRs'><i class="fas fa-angle-double-right"></i></button>
    </ngx-carousel>
  </div>
  <mat-spinner *ngIf="isProgress"></mat-spinner>
</div>