<div mat-dialog-title class="dialog-clear">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <ngu-carousel
    #carousel
    [inputs]="carouselOne"
    [dataSource]="images"
  >
    <div *nguCarouselDef="let image">
      <div class="project__slide" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
    </div>
    <button NguCarouselPrev class='leftRs'><i class="fas fa-angle-double-left"></i></button>
    <button NguCarouselNext class='rightRs'><i class="fas fa-angle-double-right"></i></button>
  </ngu-carousel>
</div>
