<div mat-dialog-title class="dialog-clear">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>clear</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <ngx-carousel
    [inputs]="carouselOne"
  >
    <ngx-item NgxCarouselItem *ngFor="let image of images">
      <div class="project__slide" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'><i class="fas fa-angle-double-left"></i></button>
    <button NgxCarouselNext class='rightRs'><i class="fas fa-angle-double-right"></i></button>
  </ngx-carousel>
</div>
