<div class="projects">
  <div *ngIf="!isProgress">
    <div class="container">
      <h2 class="title">Projekte</h2>
      <ul>
        <li *ngFor="let project of projects" [routerLink]="['/projekt', project._id]">
          <img [src]="project.images[0]" [alt]="project.title" />
          <a>{{project.title}}</a>
        </li>
      </ul>
    </div>
    <div class="google-map">
      <h2 class="title">Standort des Projekts</h2>
      <agm-map [latitude]="location?.lat" [longitude]="location?.lng">
        <agm-marker [latitude]="location?.lat" [longitude]="location?.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <mat-spinner *ngIf="isProgress"></mat-spinner>
</div>