<div class="project container">
   <div *ngIf="!isProgress">
     <div class="project__slider">
       <h3>{{project.title}}</h3>
       <ngx-carousel
         [inputs]="carouselOne"
       >
         <ngx-item NgxCarouselItem *ngFor="let slide of project.images">
           <img [src]="slide" alt="">
         </ngx-item>
         <button NgxCarouselPrev class='leftRs'><i class="fas fa-angle-double-left"></i></button>
         <button NgxCarouselNext class='rightRs'><i class="fas fa-angle-double-right"></i></button>
       </ngx-carousel>
     </div>
     <div class="project__description">
       <h3>{{project.description[0].title}}</h3>
       <p>{{project.description[0].text}}</p>
       <h3 class="project__description-title">{{project.description[0].listsTitle}}</h3>
       <ul class="list-of-text">
         <li *ngFor="let item of project.description[0].listOfDetails"><span>{{item.property}}:</span> {{item.value}}</li>
       </ul>
     </div>
   </div>
  <mat-spinner *ngIf="isProgress"></mat-spinner>
</div>