@import "../../sass/mixins";
@import "../../sass/varialbes";

.footer {

  position: absolute;
  background: rgba(223, 223, 223, .8);
  width: 100%;
  height: auto;
  & > div {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    @include mobile {

      flex-direction: column;
      text-align: center;
      & > .copyright {

        order: 1;
        margin-top: 1rem;
      }
    }
  }
}

a {

  cursor: pointer;
  color: $black;
}

.copyright {

  text-align: center;
  font-weight: 600;
}