@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "./app/sass/reset";
@import "./app/sass/varialbes";
@import "./app/sass/mixins";

html, body {

  min-height: 100vh;
}

body {

  font-family: AvenirNext-UltraLight, sans-serif;
}

.container {

  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {

  min-height: 100vh;
}

h2.title {

  text-align: center;
  font-size: 3.5em;
  padding-bottom: 5rem;
  @include tablet {
    font-size: 2em;
    padding-bottom: 2rem;
  }
}

h3 {

  padding-bottom: 1rem;
  font-size: 2em;
  font-weight: bold;
}

p, ul.list-of-text {

  line-height: 1.5em;
}

#cdk-overlay-0 {

  position: absolute;
  z-index: 10;
  button {

    font-family: AvenirNext-UltraLight, sans-serif;
    font-size: 1em;
    background: #fff;
    border-bottom: 1px solid $gray;
  }
}

mat-spinner {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

#cdk-overlay-0 {

  z-index: 10000 !important;
  button {

    border-bottom: none !important;
    background: transparent !important;
  }
}

.home {

  & > .footer {

    position: relative;
    width: 100%;
    background: rgba(223, 223, 223, .8);
    z-index: 9;
    height: 100%;
    margin-top: -115px;
    @include tablet {

      margin-top: -48px;
    }
  }
}